@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<HotelBooking>
<ul>
    @foreach(var HotelBooking in Model)
    {
        <li>ID: @HotelBooking.ID    Room number: @HotelBooking.RoomNumber Name: @HotelBooking.name</li>
    }
</ul>
